body {
	background:#f5f5f5;
	font-family: 'Source Sans Pro', sans-serif;
	margin:0;
	padding:0;
}
	
header {
	background:#000;
	color:#fff;
	padding:5px 5%;
}
	
header .links {
	float:right;
	padding:12px;
	font-size:14px
}
	
header .links a {
	margin-right:15px;
	color:#fff;
	text-decoration:none;
}

header .links a:hover {
	color:#2196F3;
}
	
	
#input {
	display:block;
	width:90%;
	margin:0 auto;
	margin-top:30px;
	padding:0;
	border:0;
	padding:15px;
	margin-bottom:15px;
	font-size:15px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	border-radius:3px;
}

.simplify {
	width:90%;
	margin:0 auto;
	margin-bottom: 30px;
}

.result {
	background:#fff;
	padding:20px;
	padding-top:4px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	width:90%;
	margin: 0 auto;
}
	
.raw {
	text-align:left;
	border-bottom:1px solid #e3e3e3;
	padding-bottom:5px;
}
	
.token-analysis {
	display:inline-block;
	margin-right:25px;
	text-align:center;
	margin-top:15px;
	margin-bottom:18px;
	vertical-align: text-top;
}

div.token {
	font-weight:500;
	padding:10px 20px;
	margin-bottom:10px;
	border-radius:3px;
	box-shadow: 0 3px 20px rgba(255,0,0,0.3), 0 3px 60px rgba(0,0,0,0.13);
	background:#E91E63;
	color:#fff;
}

.token-result {
	border:1px solid #000;
	padding:5px;
	margin-bottom:5px;
	border-radius:3px;
}

.legend {
	margin-top:30px;
	text-align:left;
}

.legend span {
	display:inline-block;
	border:1px solid;
	border-color:inherit;
	padding:5px;
	margin-right:5px;
	margin-bottom:5px;
	border-radius:10px;
	font-size:12px;
}

.sentiment {border-color:#009688 !important;}
.label {border-color:#00BCD4 !important;}
.emphasis {border-color:#2196F3 !important;}
.negation {border-color:#FF9800 !important;}
.tag {border-color:#E91E63 !important;}
.ukus {border-color:#673AB7 !important;}


.node circle {
	fill: #fff;
	stroke: #E91E63;
	stroke-width: 3px;
}

.node text {
	font: 10px sans-serif;
}

.link {
	fill: none;
	stroke: #E0E0E0;
	stroke-width: 2px;
}